.App {
  text-align: center;
}
.title {
  padding: 10px;
}
.card {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.cardName {
  text-transform: capitalize;
}
.cardPoke {
  border: solid 2px green;
  border-radius: 10px;
  padding: 5px;
  margin: 5px 0 5px 0;
  height: 180px;
}
.cardType {
  text-transform: capitalize;
  list-style: none;
  background-color: lightgrey;
  border: lightgrey;
  border-radius: 5px;
  padding: 2px;
}
.container {
  width: 160px;
}
