* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Potta One', cursive;
}
body {
  background-image: url(../images/background_pokemon.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
